<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoGaga Sample Internship application</title>
</head>
<body>
    <form action="/submit" method="POST">
        <h1>Enter the Name and location</h1>
    <h1>Name :</h1>
    <input type="text" name="name" id="name">
    <h1>Location :</h1>
    <input type="text" name="location" id="location">
    <button  type="submit">Submit</button>
    </form>
     <br>
    <button><a href="/list">Get Complete list</a></button>


     <h1>Search Bar</h1>
    <form action="/search" method="POST">
        <input type="text" name="search">
        <button type="submit">Search List</button>
    </form>

    
</body>
</html>